<form class="login">
    <h1 class="login-title">Sign Up</h1>
	<label class="register-font">User ID : <input type="text" class="login-input" placeholder="User ID" autofocus></label>
    <label class="register-font">First Name : <input type="text" class="login-input" placeholder="First Name" ></label>
    <label class="register-font">Last Name : <input type="text" class="login-input" placeholder="Last Name" ></label>
	<label class="register-font">Password : <input type="password" class="login-input" placeholder="Password" ></label>
	<label class="register-font">Confirm Password : <input type="password" class="login-input" placeholder="Confirm Password" ></label>
	<label class="register-font">Contact : <input type="text" class="login-input" placeholder="Contact" ></label>
    <label class="register-font">Email Address : <input type="text" class="login-input" placeholder="Email Address" ></label>
	
    <input type="submit" value="Register" class="login-button">
  
  </form>
