<!-- <form (ngSubmit)="formSubmit()">
  <div class="form-group">
    <label for="uname">UserName : </label>
    <input type="text" id="uname" name="username" class="form-control" [(ngModel)]="credentials.username">
  </div>
  <div class="form-group">
      <label for="pwd">Password : </label>
      <input type="password" id="pwd"  name="password" class="form-control" [(ngModel)]="credentials.password">
    </div>
    <button type="submit" class="btn-default btn">Login</button>
</form> -->

<form #loginForm="ngForm" class="login">
  <h1 class="login-title">Login</h1>
  <div>
 <i class="material-icons prefix">account_circle</i>
  <input type="text" #uname name="userName" class="login-input" [(ngModel)]="credentials.userName" placeholder="User ID" autofocus required>
</div>
<div>
  <i class="material-icons prefix">vpn_key</i>
  <input type="password" #pwd  name="password" class="login-input" [(ngModel)]="credentials.password" placeholder="Password" required>
</div>
  <input [disabled]="!loginForm.valid"  (click)="formSubmit()" type="submit" value="Sign In" class="login-button">
  <p class="login-lost"><a routerLink="/forgotPwd">Forgot Password?</a></p><br/>
  <p class="login-lost">
      <a routerLink="/registration">sign up</a>
    <!-- <a href="/resources/signup.html">Sign Up</a> -->
  </p>
</form>